body{
	min-height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
.container{
	text-align: center;
}
.hexColor{
	text-transform: capitalize;
}
.hex{
	font-size: 3rem;
}
.hexBtn{
	height: 50px;
	width: 200px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: cyan;
	cursor: pointer;
}
.hexBtn:hover{
	background-color: grey;
}